__pycache__/
.vscode/
.DS_Store
__MACOSX/

pytorch3d/
tmp/
trash/

FR_DB/*/pretrained/
FD_DB/*/pretrained/
FP_DB/*/pretrained/
FAttri_DB/*/pretrained/
smirk/pretrained_models/
smirk/assets/

face_db/
experiments/
results/